body 
{background-image: linear-gradient(white,purple);}

h1 
{color:rgb(253, 124, 253);
font-size: 300%;
text-align: center;}

h2
{color:rgb(121, 157, 255);
font-size: 200%;
text-align: center;}

#ima1
{width: 40%;
margin-left: 15%;}

.fantasmas
{color:white;}

#fantasmas-intro
{width: 50%;
margin-left: 20%;}

#fantasma
{width: 50%;
margin-left: 20%;}